<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-size-2 is-uppercase has-text-weight-bold">
                About the Workshop </h1> <br><br>
            <p style="text-align: justify;">
                Autonomous Systems (AS), such as robots, self-driving cars, and body sensor networks,
                whether enabled with Artificial Intelligence (AI) or not, are increasingly pervasive in our
                daily lives. They are rapidly transforming domains such as transportation, manufacturing, the
                built environment, and healthcare. Their effectiveness depends heavily on Information
                Systems (IS), which provide the information, infrastructures, and coordination mechanisms
                that enable autonomy.
                <br>
                In this context, AS act and generate massive streams of real-time data (sensor readings,
                environmental feedback, performance metrics). IS process and analyze this data, supporting
                decisions for both AS and human operators or users. Together, AS and IS form a continuous
                feedback loop where the AS act and produce data, and IS interpret the data to provide
                feedback to enable AS adaptation. Notably, this loop is more and more embedded within
                socio-technical systems, where humans and technology continuously interact to fulfill
                stakeholder requirements. Furthermore, AI is increasingly integrated within such loops,
                offering new solutions for autonomy and automation. This tight coupling, along with the
                proliferation of Large Language Models (LLMs) and Large Multimodal Models (LMMs),
                raises new challenges, such as ensuring trustworthy data governance, protecting systems
                from cyber threats, ensuring sustainable goals, addressing ethical concerns in
                decision-making, and aligning autonomy with organizational and social contexts.
                <br>
                This workshop aims to explore the synergy of AS and IS, focusing on how autonomy and
                information processes can be jointly designed, integrated, and governed in complex
                environments. We aim to bring together diverse research communities, including
                autonomous systems, information systems, artificial intelligence, software engineering, and
                business process management, to foster a holistic understanding of the challenges and
                opportunities of AS-IS connection.
            </p>
            <br> <br>
            <h1 class="title is-size-2 is-uppercase has-text-weight-bold">
                Topics of Interest </h1> <br><br>
            <p style="text-align: left;"> The main topics include, but are not limited to:</p> <br>
            <div class="columns is-centered">
                <div class="column is-12">
                    <div class="box has-background-white p-6" style="border-radius: 1.25rem;">
                        <ul style="text-align: left;">
                            <li style="margin-bottom: 5px;"><i class="fa fa-check-circle fa-xs"></i> Engineering IS for autonomous systems and
                                autonomy-enabled IS</li>
                            <li style="margin-bottom: 5px;"><i class="fa fa-check-circle fa-xs"></i> Human-AS interaction and cooperation</li>
                            <li style="margin-bottom: 5px;"><i class="fa fa-check-circle fa-xs"></i> Evolution of AS in changing environments</li>
                            <li style="margin-bottom: 5px;"><i class="fa fa-check-circle fa-xs"></i> Applications of AI for AS</li>
                            <li style="margin-bottom: 5px;"><i class="fa fa-check-circle fa-xs"></i> LLM/LMM-driven autonomy in information systems</li>
                            <li style="margin-bottom: 5px;"><i class="fa fa-check-circle fa-xs"></i> Security and privacy in autonomous LLM/LMM-based
                                systems</li>
                            <li style="margin-bottom: 5px;"><i class="fa fa-check-circle fa-xs"></i> Management of autonomous processes</li>
                            <li style="margin-bottom: 5px;"><i class="fa fa-check-circle fa-xs"></i> System automation and self-adaptation</li>
                            <li style="margin-bottom: 5px;"><i class="fa fa-check-circle fa-xs"></i> Process-aware architectures and adaptive workflows
                                for AS</li>
                            <li style="margin-bottom: 5px;"><i class="fa fa-check-circle fa-xs"></i> Process mining and monitoring for autonomous
                                operations</li>
                            <li style="margin-bottom: 5px;"><i class="fa fa-check-circle fa-xs"></i> Predictive and prescriptive approaches for AS</li>
                            <li style="margin-bottom: 5px;"><i class="fa fa-check-circle fa-xs"></i> Compliance and conformance of AS behavior</li>
                            <li style="margin-bottom: 5px;"><i class="fa fa-check-circle fa-xs"></i> Robustness of AS-IS (fault, data uncertainty, rule
                                enactment prioritization)</li>
                            <li style="margin-bottom: 5px;"><i class="fa fa-check-circle fa-xs"></i> Explainability, trust, sustainability, and ethical
                                considerations</li>
                            <li style="margin-bottom: 5px;"><i class="fa fa-check-circle fa-xs"></i> Case studies and applications of AS in domains such
                                as healthcare, mobility, smart homes, industrial IoT, and space</li>
                            <li style="margin-bottom: 5px;"><i class="fa fa-check-circle fa-xs"></i> Lessons learned from implementing AS-IS systems</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</section>