<footer id="footer">
  <!-- Footer Button -->
  <div class="container has-text-centered py-4" id="backtotop">
    <a class="button" style="color: rgb(222, 22, 22);" onclick="window.scrollTo({top: 0, behavior: 'smooth'})">Back to Top</a>
  </div>

  <!-- Credits -->
  <div class="has-background-black has-text-centered has-text-white py-3" id="credits">
    <p class="mb-0">&copy; EASI Workshop {{ "now" | date: "%Y" }} | Inspired by <a href="https://github.com/thedevslot/WhatATheme" target="_blank" style="color: white;">WhatATheme</a></p>
  </div>
</footer>
