<section class="hero is-fullheight has-text-centered has-background-white-ter" id="important-dates">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-size-2 is-uppercase has-text-weight-bold">Important Dates</h1>
        <br><br>
  
        <div class="columns is-centered">
          <div class="column is-8">
            <div class="box has-background-white p-6" style="border-radius: 1.25rem;">
              <ul class="has-text-left is-size-5" style="line-height: 1.7;">
                <li><i class="fa fa-calendar" style="color: rgb(222, 22, 22);"></i> <strong>March 8, 2026:</strong> Paper Submission</li>
                <li><i class="fa fa-calendar" style="color: rgb(222, 22, 22);"></i> <strong>March 31, 2026:</strong> Acceptance Notification</li>
                <li><i class="fa fa-calendar" style="color: rgb(222, 22, 22);"></i> <strong>April 7, 2026:</strong> Camera-ready Submission</li>
                <li><i class="fa fa-calendar" style="color: rgb(222, 22, 22);"></i> <strong>June 8–9, 2026:</strong> Workshop Dates</li>
              </ul> <br> <br>
              <p class="has-text-grey mt-4">All dates are Anywhere on Earth (AoE)</p>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </section>
  