<section class="hero is-fullheight has-text-centered has-background-white-ter" id="contacts">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-size-2 is-uppercase has-text-weight-bold">Contacts</h1>
        <br><br>
  
        <h1 class="title is-size-2 is-uppercase has-text-weight-bold">Organizers</h1>
        <br><br>
          <div class="container columns"> 
            <!-- is-multiline -->
  
            <!-- Organizer 1 -->
            <div class="column is-one-third-desktop has-text-left-desktop has-text-centered-mobile">
                <div class="columns is-vcentered">
                  <div class="column is-one-quarter">
                    <a href="{{site.org-website-1}}" target="_blank">
                    <figure class="image is-64x64">
                      <img class="is-rounded" src="{{site.org-image-1}}">
                    </figure>
                    </a>
                  </div>
                  <div class="column">
                    <h5 class="has-text-weight-bold" style="color: rgb(222, 22, 22);">{{site.org-name-1}}</h5>
                    <p class="has-text-grey">{{site.org-affiliation-1}}</p>
                    <p class="has-text-grey" style="font-style: italic;">{{site.org-email-1}}</p>
                  </div>
                </div>
            </div>
  
            <!-- Organizer 2 -->
            <div class="column is-one-third-desktop has-text-left-desktop has-text-centered-mobile">
                <div class="columns is-vcentered">
                  <div class="column is-one-quarter">
                    <a href="{{site.org-website-2}}" target="_blank">
                    <figure class="image is-64x64">
                      <img class="is-rounded" src="{{site.org-image-2}}">
                    </figure>
                  </a>
                  </div>
                  <div class="column">
                    <h5 class="has-text-weight-bold" style="color: rgb(222, 22, 22);">{{site.org-name-2}}</h5>
                    <p class="has-text-grey">{{site.org-affiliation-2}}</p>
                    <p class="has-text-grey" style="font-style: italic;">{{site.org-email-2}}</p>
                  </div>
                </div>
            </div>
  
            <!-- Organizer 3 -->
            <div class="column is-one-third-desktop has-text-left-desktop has-text-centered-mobile">
                <div class="columns is-vcentered">
                  <div class="column is-one-quarter">
                    <a href="{{site.org-website-3}}" target="_blank">
                    <figure class="image is-64x64">
                      <img class="is-rounded" src="{{site.org-image-3}}">
                    </figure>
                    </a>
                  </div>
                  <div class="column">
                    <h5 class="has-text-weight-bold" style="color: rgb(222, 22, 22);">{{site.org-name-3}}</h5>
                    <p class="has-text-grey">{{site.org-affiliation-3}}</p>
                    <p class="has-text-grey" style="font-style: italic;">{{site.org-email-3}}</p>
                  </div>
                </div>
            </div>
          </div>
      </div>
    </div>
  </section>
  