<section class="hero is-fullheight has-text-centered has-background-white-ter" id="program-committee">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-size-2 is-uppercase has-text-weight-bold">
                Program Committee </h1> <br><br>
                    <p> TBA ...</p> <br>
                    <!-- <ul style="text-align: left;">
                        <li><i class="fa fa-circle-thin" style="color: rgb(222, 22, 22)"></i> Engineering IS for autonomous systems and autonomy-enabled IS</li>
                    </ul> -->
        </div>
</section>