<section class="hero is-fullheight has-text-centered has-background-white-ter" id="program-committee">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-size-2 is-uppercase has-text-weight-bold">
                Program Committee </h1> <br><br>
            <div class="columns is-centered">
                <div class="column is-8">
                    <div class="box has-background-white p-6" style="border-radius: 1.25rem;">
                        <ul style="text-align: left;">
                            <li>
                                <span class="semi-bold">Janik-Vasily Benzin</span>, Technical University of Munich, Germany
                            </li>
                            <li>
                                <span class="semi-bold">Edyta Brzychczy</span>, AGH University of Science and Technology, Poland
                            </li>
                            <li>
                                <span class="semi-bold">Roberto Casadei</span>, University of Bologna, Italy
                            </li>
                            <li>
                                <span class="semi-bold">Ivan Compagnucci</span>, Gran Sasso Science Institute, Italy
                            </li>
                            <li>
                                <span class="semi-bold">Martina De Sanctis</span>, Gran Sasso Science Institute, Italy
                            </li>
                            <li>
                                <span class="semi-bold">Agnes Koschmider</span>, University of Bayreuth, Germany
                            </li>
                            <li>
                                <span class="semi-bold">Francesco Leotta</span>, Sapienza University of Rome, Italy
                            </li>
                            <li>
                                <span class="semi-bold">Andrea Marrella</span>, Sapienza University of Rome, Italy
                            </li>
                            <li>
                                <span class="semi-bold">Marko Milojkovic</span>, University of Nis, Serbia
                            </li>
                            <li>
                                <span class="semi-bold">Darko Mitic</span>, University of Nis, Serbia
                            </li>
                            <li>
                                <span class="semi-bold">Jesus Munoz Cadiz</span>, University of Fribourg, Switzerland
                            </li>
                            <li>
                                <span class="semi-bold">Nenad Petrovic</span>, University of Nis, Serbia
                            </li>
                            <li>
                                <span class="semi-bold">Barbara Re</span>, University of Camerino, Italy
                            </li>
                            <li>
                                <span class="semi-bold">Stefanie Rinderle-Ma</span>, Technical University of Munich, Germany
                            </li>
                            <li>
                                <span class="semi-bold">Lorenzo Rossi</span>, University of Camerino, Italy
                            </li>
                            <li>
                                <span class="semi-bold">Ronny Seiger</span>, University of St. Gallen, Switzerland
                            </li>
                            <li>
                                <span class="semi-bold">Mohsen Shirali</span>, Catholic University of Louvain, Belgium
                            </li>
                            <li>
                                <span class="semi-bold">Francesco Tiezzi</span>, University of Florence, Italy
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</section>