<section class="hero is-fullheight has-text-centered has-background-white-ter" id="paper-submission">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-size-2 is-uppercase has-text-weight-bold">
                Submission </h1> <br><br>
                    <p> The papers have to be submitted via <a href="https://easychair.org/conferences/?conf=caise2026" target="_blank" style="color: rgb(222, 22, 22); text-decoration: underline;">EasyChair</a>,
                         selecting the ... track.
                        <br> <br>
                         Papers must conform to the <a href="https://www.springer.com/gp/computer-science/lncs/conference-proceedings-guidelines" target="_blank" style="color: rgb(222, 22, 22); text-decoration: underline;">Springer LNCS/LNBIP format</a> 
                         and should not exceed <span style="color: rgb(222, 22, 22)">12 pages</span> for full papers and <span style="color: rgb(222, 22, 22)">6 pages</span> for short papers  (including references).
                        <br><br>
                        The proceedings of the conference workshops will be published as one volume in the Springer LNBIP series.
                        <br><br>
                        At least one author of each accepted paper must register and participate in the workshop. Please visit the <a href="https://caise26.polimi.it/" target="_blank" style="color: rgb(222, 22, 22); text-decoration: underline;">main conference website</a> for more information.
                    </p> 
        </div>
</section>